.sn-result{
    border: 1px solid #181818;
    padding: 16px;
    border-radius: 10px;
}

.header-result{
    font-weight: bold;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;

    h3 {
        grid-column: 1/2;
    }

    h4{
        grid-column: 1/2;
        text-align: left;
    }

    button{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
        padding: 20px;
        background-color: #28a745;
        color: white;
        border: none;
        cursor: pointer;
    }
}

